body{
    font-family: 'Open Sans', sans-serif;
    text-shadow: 4px 4px 4px #aaa;
}



.section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

.color-overlay{
    position:absolute;
    top: 0;
    left: 0;
    background-color: #46484a;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
}


.section h2{
    text-align: left;
    font-size: 1rem;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.7;
}


.headStart{
    text-decoration: underline dimgrey;
    text-align: left;
    font-size: xx-large;

}


.container{
    display:grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 10px;
    width: 40%;
    margin: 10px;
    z-index: 1;
    opacity: 0.7;
    background: url("FB_IMG_1550450520770.jpg") no-repeat;
    background-position: center;
    background-size: 830px;
    border-radius: 10px;
    border-top: 3px solid darkslategrey;
    border-bottom: 3px solid darkslategrey;

}



table{
    font-size: medium;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.94);
    grid-column:1;
    text-align: right;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.47);


}





.resume{
    color: #9d0012;
    text-align:center;
    padding: 20px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.47);

}


h2 > a:link{
    background-color: darkslategrey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}


a:visited{
    background-color: #878c99;
    color: white;
    text-align:center;
    padding: 14px 25px;
    text-decoration: underline;
}

a:hover{
    background-color: antiquewhite;
}