body{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}



.section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

}

.color-overlay{
    position:absolute;
    top: 0;
    left: 0;
    background-color: #46484a;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
}


.section h2{
    text-align: left;
    font-size: 1rem;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.7;
}


.headStart{
    text-decoration: underline dimgrey;
    text-align: left;
}


.container{
    display:grid;
    grid-template-columns: 1fr;
    text-align: center;
    padding: 10px;
    width: 40%;
    margin: 10px;
    z-index: 1;
    opacity: 0.7;
    background: none;
    border-radius: 150px;
    border-left: 14px solid black;
    border-right: 14px solid black;
}



table{
    font-size: medium;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.94);
    grid-column:1;
    text-align: right;
    border-left: none;
    border-right:none;
    border-top: 10px solid black;
    border-bottom: 10px solid black;
    border-radius: 20px;
    background: rgba(227, 249, 236, 0.71);
    /*#a3a3a3*/



}


.resume{
    color: #9d0012;
    text-align:right;



}


h2 > a:link{
    background-color: darkslategrey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}


a:visited{
    background-color: #878c99;
    color: white;
    text-align:center;
    padding: 14px 25px;
    text-decoration: underline;
}

a:hover{
    background-color: antiquewhite;
}