body{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}



.section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.color-overlay{
    position:absolute;
    top: 0;
    left: 0;
    background-color: #46484a;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
}



.section section{
    text-align: center;
    font-size: 1rem;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.7;
}



.container{
    display: grid;
    grid-template-columns:2fr;
    grid-template-rows: 1fr 3fr 1fr ;
}

.topLinks{
    align-content: center;
    grid-column:1;
    grid-row:1;
    border-radius: 80px;
    border: 10px solid black;

}

.reportCard{
    grid-column:1;
    grid-row:2;
    border: 20px solid black;
    border-radius: 70px;
    background: #d2d2d2;
    border-left: 3px solid black;
    border-right: 3px solid black;


}

.creations{
    grid-column:1;
    grid-row:3;
    border: 20px solid black;
    padding: 20px 20px;
    border-radius: 80px;
    background: #d2d2d2;


}

p > a:link {
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    padding: 10px 10px;
    background: #d2d2d2;
    border-top: 1px solid white;
}

a:link{
    background-color: darkslategrey;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    padding: 10px 10px;
    border-top: 2px solid black;


}


a:visited{
    background-color: #434446;
    color: white;
    text-align:center;
    padding: 14px 25px;
    text-decoration: underline;
}

a:hover{
    background-color: antiquewhite;
}
