/*TEXT STYLE FOR BODY WITH SHADOW */
body{
    font-family: 'Open Sans', sans-serif;
    text-shadow: 4px 4px 4px #aaa;

}


/*METRICS OF BACKGROUND VIDEO*/
.section{
    position: relative;
    width: 100%;
    height: 97.9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

/*COLOR OVERLAY TO SOFTEN BRIGHTNESS OF BACKGROUND VIDEO*/
.color-overlay{
    position:absolute;
    top: 0;
    left: 0;
    background-color: #46484a;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
}

/*NAVIGATION HEADER METRICS*/
.section h2{
    text-align: center;
    font-size: 1.2rem;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.7;
}

/*PROPERTIES FOR PAGE INFORMATION */
.section section{
    text-align: center;
    font-size: 1.2rem;
    padding: 20px;
    margin: 20px;
    z-index: 1;
    opacity: 0.7;
}


/*CONTAINER FOR SKILLS/PROJECT SECTION*/
.container{
    display: grid;
    grid-template-columns:2fr;
    grid-template-rows: 3fr;
    margin: 10px;
}

/*PROPERTIES FOR CONTAINER TOP SECTION*/
.header{
    font-size: xx-large;
}

/*PROPERTIES FOR REPORT CARD SECTION*/
.reportCard{
    grid-column:1;
    grid-row:1;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.47);
    border-top: 2px solid darkslategrey;
    border-bottom: 2px solid darkslategrey;

}


/*PROPERTIES FOR ICONS*/

.icons{
    border: 10px solid white;
    font-size: 55px;
    color: #292b2d;
    border-top: 3px solid #458d99;
    border-bottom:3px solid #458d99;

}

/*PROPERTIES FOR CREATION SECTION*/
.creations{
    font-size: 1.2rem;
    grid-column:1;
    grid-row:2;
    padding: 5px 5px;
    border-radius: 3px;
    background: rgba(255, 255, 255, 0.47);
    border-top: 2px solid darkslategrey;
    border-bottom: 2px solid darkslategrey;

}

/*PROPERTIES FOR LINKS WITHIN CREATIONS SECTION*/
p > a:link {
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    padding: 10px 10px;
    background: #000000;
    border-top: 1px solid #000000;
}


/*PROPERTIES FOR LINKS, EXCEPT LINKS IN CREATIONS SECTION*/
a:link{
    background-color: darkslategrey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
}


a:visited{
    background-color: #878c99;
    color: white;
    text-align:center;
    padding: 14px 25px;
    text-decoration: underline;
}

a:hover{
    background-color: antiquewhite;
}