body{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}



.section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.video-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.color-overlay{
    position:absolute;
    top: 0;
    left: 0;
    background-color: #46484a;
    width: 100%;
    height: 100vh;
    opacity: 0.5;
}



.section section{
    text-align: center;
    font-size: 1rem;
    padding: 20px;
    margin: 15px;
    z-index: 1;
    opacity: 0.7;
}



.container{
    display: grid;
    grid-template-columns:repeat (4, 1fr);
}

.container > div{
    background: #cde2d5;
    opacity: 0.7;
    align-content: center;
}

.container > div:nth-child(odd){
    background: #458d99;
    opacity: 0.7;
    align-content: center;


}

/*.videoFrame{*/
    /*border: 21px solid black;*/
    /*border-radius: 60px;*/

/*}*/




a:link{
    background-color: darkslategrey;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    border-radius: 2px;
}


a:visited{
    background-color: #434446;
    color: white;
    text-align:center;
    padding: 14px 25px;
    text-decoration: underline;
}

a:hover{
    background-color: antiquewhite;
}
